<div class="loading-map d-flex justify-content-center ">
    <div class="text-center">
        <br>
        <h2>Welcome to the housing rental platform!</h2>

        <br>


        <button 
        class="btn btn-primary btn-lg" 
        style="background-color: orange;"
        (click)="gotoMainPage()">
        Got It. Thanks</button>

        <div class="d-flex justify-content-center" style="margin-top: 50px;">
            <img src="../../../../assets/images/building.jpg" alt="Your dream home">
        </div>

    </div>
</div>
